Solemne 3: Construir una red neuronal para el conjunto de datos entregados, que contemple los siguientes pasos:

Cargar datos.
Definir modelo.
Modelo de compilación.
Modelo de ajuste.
Evaluar modelo.

In [ ]:
pip install tensorflow

In [7]:
pip install keras

Requirement already satisfied: keras in c:\users\the-a\anaconda3\lib\site-packages (2.4.3)
Requirement already satisfied: pyyaml in c:\users\the-a\anaconda3\lib\site-packages (from keras) (5.4.1)
Requirement already satisfied: numpy>=1.9.1 in c:\users\the-a\anaconda3\lib\site-packages (from keras) (1.19.2)
Requirement already satisfied: scipy>=0.14 in c:\users\the-a\anaconda3\lib\site-packages (from keras) (1.6.2)
Requirement already satisfied: h5py in c:\users\the-a\anaconda3\lib\site-packages (from keras) (2.10.0)
Requirement already satisfied: six in c:\users\the-a\anaconda3\lib\site-packages (from h5py->keras) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Cargar datos.

#Importamos las librerias a utilizar
import pandas as pd
import numpy as np
from keras.models import Sequential
from keras.layers.core import Dense

In [3]:
data_frame_padia = pd.read_csv("pacientes_diabetes.csv")
data_frame_padia

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

In [8]:
#Asignamos Atributos

padiaHeader = ('Numero Embarazos', 'Concentracion Glucosa','Presion arterial','Grosor del pliegue','Insulina','Indice masa corporal','Funcion Pedigri diabetes','Edad','Clase(aparicion diabetes)')
data_frame_padia = pd.read_csv("pacientes_diabetes.csv",sep=',',header=None, names=padiaHeader)
data_frame_padia

,Numero Embarazos,Concentracion Glucosa,Presion arterial,Grosor del pliegue,Insulina,Indice masa corporal,Funcion Pedigri diabetes,Edad,Clase(aparicion diabetes)
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
Definir modelo.

In [4]:
# cargamos las 4 combinaciones de las compuertas XOR
training_data = np.array([[0,0],[0,1],[1,0],[1,1]], "float32")

# y estos son los resultados que se obtienen, en el mismo orden
target_data = np.array([[0],[1],[1],[0]], "float32")

In [ ]:
#Modelo de compilación.

model = Sequential()
model.add(Dense(9, input_dim=2, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [ ]:
#Modelo de ajuste.


model.compile(loss='mean_squared_error',
              optimizer='adam',
              metrics=['binary_accuracy'])

In [ ]:
model.fit(training_data, target_data, epochs=767)

In [ ]:
Evaluar modelo.

Conjunto de datos sobre la diabetes en una población

Describe los datos de los registros médicos de los pacientes  y si tenían la aparición de la diabetes en un plazo de cinco años. Se trata de un problema de clasificación binaria (aparición de diabetes como 1 o no como 0). Las variables de entrada que describen a cada paciente son numéricas y tienen variables de escalas. A continuación se enumeran los ocho atributos del set de datos:

1. Número de embarazos.
2. Concentración de glucosa en plasma a 2 horas en una prueba oral de tolerancia a la glucosa.
3. Presión arterial diastólica (mm Hg).
4. Grosor del pliegue de la piel del tríceps (mm).
5. Insulina sérica de 2 horas (mu U/ml).
6. Índice de masa corporal.
7. Función del pedigrí de la diabetes.
8. Edad (años).
9. Clase, aparición de diabetes en un plazo de cinco años.